COMPOSE_PROJECT_NAME=

# Network / Domain
TRAEFIK_NETWORK=
DOMAIN_SUFFIX=

BIND_IP=127.0.0.1

# Images
CLICKHOUSE_IMAGE=
POSTGRES_IMAGE=
MONGODB_IMAGE=
MINIO_IMAGE=
SPARK_IMAGE=
AIRFLOW_IMAGE=
METABASE_IMAGE=
STATSD_EXPORTER_IMAGE=
PROMETHEUS_IMAGE=
GRAFANA_IMAGE=

# ClickHouse
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=
CLICKHOUSE_HTTP_PORT=
CLICKHOUSE_NATIVE_PORT=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# MongoDB
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_PORT=

# MinIO server
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_CONSOLE_PORT=

# Spark access to MinIO
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SECURE=

# Lakehouse storage
MINIO_BUCKET=
BRONZE_KAFKA_BASE_PATH=

# Spark
SPARK_WORKER_MEMORY=
SPARK_WORKER_CORES=

# Airflow
AIRFLOW_UID=
AIRFLOW_FERNET_KEY=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_EMAIL=

# Grafana
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# Prometheus
PROMETHEUS_RETENTION=

# StatsD
STATSD_TCP_PORT=
STATSD_UDP_PORT=

# jupyter
JUPYTER_TOKEN=